node_modules/
*.DS_Store
.DS_Store
doc/
packages/ngx-guides/dist
packages/preact-guides/dist
packages/react-compat-guides/dist
# packages/*/dist/
release/
npm-debug.log*
coverage/
jsdoc/
doc/
outjs/
declaration/
build/
.vscode/
rollup-plugin-visualizer/
statistics/
.scene_cache
*.mp4
